<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="styles.css" />
  </head>
  <header>
    <div class="logo"><img src="" alt="" /></div>
    <div class="title" style="display: flex;">
      <img id="backButton" style="width: 30px; height: 30px;" src="images/back.png" alt="">
      <h1 style="font-weight: bold; margin-left: 10px;">Marco's Collections</h1>
    </div>
  </header>
   
  <table>
    <th>
        <tr>
          <td>ITEM ID</td>
          <td>NAME</td>
          <td>PHONE</td>
          <td>SIZE</td>
        </tr>
    </th>
    <tbody>
      <% for(bid of bids){ %>
        <tr>
            <td><button onclick="getId(`<%=bid.iditem %>`)" ><%=bid.iditem %></button></td>
            <td><%=bid.name %></td>
            <td><%=bid.phone %></td>
            <td><%=bid.size %></td>
            <td><button onclick="getDeleteID('<%=bid.idbid %>')">Delete</button></td>
        </tr>
        <%}%>
    </tbody>
  </table>

  <form action="deleteBid" id="hiddenForm" method="get">
    <input type="hidden" name="hiddenInput" id="hiddenInputField" value="">
  </form>
  <form action="bidImage" id="hiddenForm2" method="get">
    <input type="hidden" name="hiddenInput" id="hiddenInputField2" value="">
  </form>

  <script src="js/deleteId.js"></script>
  <script src="js/bidimage.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>
