<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="styles.css" />
  </head>
  <header>
    <div class="logo"><img src="" alt="" /></div>
    <div class="title" style="display: flex;">
      <img id="backButton" style="width: 30px; height: 30px;" src="images/back.png" alt="">
      <h1 style="font-weight: bold; margin-left: 10px;">Marco's Collections</h1>
    </div>
  </header>
    <div class="container" style="display: flex; justify-content: space-around;">
        
        <div class="fullItem" style="margin-top: 40px;">
            <div class="itemImage">
              <img src="<%= rows[0].image %>" alt="">
            </div>
            <div class="itemDescription" style="text-transform: capitalize;font-weight: bold; background-color: rgb(210, 226, 240); "><%= rows[0].brand %> </div>
            <div class="itemDescription" style="display: flex; justify-content: space-between; background-color: rgb(210, 226, 240); width: 280px; ">
              <div style="text-transform: capitalize;"><%= rows[0].name %> </div>
              <div><%= rows[0].price %> </div>
              
              
            </div>
         
            <hr>
            <div class="itemDiscription" style="text-align: center; width: 280px; background-color: rgb(210, 226, 240);padding: 2px;"><%= rows[0].discription %> </div>
            <a href="/bid"><button style="margin-bottom: 10px;">BID</button></a>
            
        </div>

    
          

          
    </div>

    <script src="js/back.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>
